@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.navigationBar {
    @apply mr-4 font-semibold;
    display: inline;
    position: relative;
    color: #fff;
}
.navigationBar::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #DBDBDB;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}
.navigationBar:hover::after {
    transform-origin: right;
    transform: scaleX(1);
}
